{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <section class="contact pt-6 pb-6">
        <div class="inner-container">
            <h1>404</h1>
        </div>
    </section>
{% endblock %}
