{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}
{% block body %}
    <section>
        <div class="inner-container">
            <pre>
                {{ dump(page) }}
                {% for menuItem in menu %}
                    {{ dump(menuItem.title) }}
                {% endfor %}
            </pre>
            <h1>{{ page.title }}</h1>
            <a href="{{ path('news') }}">Link zu News</a>
        </div>
    </section>
{% endblock %}
