# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
assets/dist
.cache
.htaccess
browserconfig.xml
humans.txt
robots.txt
.editorconfig
.gitattributes
assets/js/vendor
doc
yarn-error.log
yarn.lock
LICENSE.txt
.idea

