html{
    background: #fff;
}
section.hero{
    min-height: calc(100vh) !important;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
    position: relative;
}

.inner-container{
    margin-top:4.25rem !important;
    max-width: 1480px;
    margin:0 auto;
    .content{
        &.has-text-centered{
            max-width: 32em;
        }
    }
}

h2{
    font-size:$size-2 !important;
    margin-bottom: $size-2 !important;
    @include tablet() {
        text-align:center;
    }
    font-weight: 700 !important;
}

h3{
    font-size:$size-3 !important;
    margin-bottom: $size-3 !important;
    font-weight: 700 !important;
}

p{
    font-size: $size-4 !important;
}
.fa-trash,.fa-edit{
    color: #000;
    margin:2rem;

}

section.animation{
    &.current{
        animation: slide-up 1s ease-in-out;
    }
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#contact{
    .columns{
        background-color:$grey-dark;
        .column{
            .left{
                clip-path: polygon(0% 0%,100% 0%,66% 100%,0% 100%);
                background-color: #fff;
            }
        }
    }
}

footer{
    background-color: #3586ff !important;
    //background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
}

.waveContainer{
    height: 6rem;
    position: relative;
    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url('../img/wave.png');
        background-size: 1000px 100px;
        &#wave{
            &1{
                z-index: 1000;
                opacity: 1;
                bottom: 0;
                animation: animateWave1 4s linear infinite;
            }
            &2{
                z-index: 999;
                opacity: 0.5;
                bottom: 10px;
                animation: animateWave2 4s linear infinite;
            }
            &3{
                z-index: 1000;
                opacity: 0.2;
                bottom: 15px;
                animation: animateWave1 3s linear infinite;
            }
            &4{
                z-index: 999;
                opacity: 0.7;
                bottom: 20px;
                animation: animateWave2 3s linear infinite;
            }
        }

        @keyframes animateWave1 {
            0%
            {
                background-position-x: 1000px;
            }
            100%
            {
                background-position-x: 0px;
            }
        }

        @keyframes animateWave2 {
            0%
            {
                background-position-x: 0px;
            }
            100%
            {
                background-position-x: 1000px;
            }
        }
    }
}

section.sortable{
    cursor:grab;
    &:hover{
        background-image: radial-gradient( circle 592px at 48.2% 50%,  rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% );
        h2{
            color: #fff;
        }
        .divider:after{
            border-color: #fff;
        }
    }

}


