html{
    background: #fff;
}

.required:after {
    content:" *";
    color: red;
}
.inner-container{
    max-width: 1480px;
    margin:0 auto;
    .content{
        &.inner{
            margin: 0 auto;
            max-width: 32em;
        }
    }
}
h1{
    margin-top: 3rem;
    font-size:$size-1 !important;
    margin-bottom: $size-1 !important;
    font-weight: 800 !important;
    @include mobile() {
        font-size:$size-2 !important;
        margin-bottom: $size-2 !important;
    }
}

h2{
    color:#000;
    font-size:$size-2 !important;
    margin-bottom: $size-2 !important;
    @include tablet() {
        text-align:center;
    }
    @include mobile() {
        font-size:$size-3 !important;
        margin-bottom: $size-3!important;
    }
    font-weight: 700 !important;
}

h3{
    font-size:$size-3 !important;
    margin-bottom: $size-3 !important;
    font-weight: 700 !important;
    @include mobile() {
        font-size:$size-4 !important;
        margin-bottom: $size-4 !important;
    }
}

p{
    font-size: $size-5 !important;
    line-height: 1.25em;
}
.fa-trash,.fa-edit{
    color: #000;
}

section.animation{
    &.current{
        .content{
            animation: slide-up 1s ease-in-out;
        }
    }
}
.content{
    @include mobile() {
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#contact{
    .columns{
        background-color:$grey-dark;
        .column{
            .left{
                clip-path: polygon(0% 0%,100% 0%,66% 100%,0% 100%);
                background-color: #fff;
            }
        }
    }
}
.main-content{
    min-height: calc(100vh - 144px);
    background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%,#5558da 0,#5fd1f9 100.2%);

    @include mobile() {
        .hero.is-fullheight-with-navbar {
            min-height: calc(40vh - 3.25rem);
        }
    }
}
footer{
    margin-top: -6rem;
    background-color: #3586ff !important;
    //background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
}

.waveContainer{
    top:-6rem;
    height: 6rem;
    position: relative;
    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url('../img/wave.png');
        background-size: 1000px 100px;
        &#wave{
            &1{
                z-index: 1000;
                opacity: 1;
                bottom: 0;
                animation: animateWave1 4s linear infinite;
            }
            &2{
                z-index: 999;
                opacity: 0.5;
                bottom: 10px;
                animation: animateWave2 4s linear infinite;
            }
            &3{
                z-index: 1000;
                opacity: 0.2;
                bottom: 15px;
                animation: animateWave1 3s linear infinite;
            }
            &4{
                z-index: 999;
                opacity: 0.7;
                bottom: 20px;
                animation: animateWave2 3s linear infinite;
            }
        }

        @keyframes animateWave1 {
            0%
            {
                background-position-x: 1000px;
            }
            100%
            {
                background-position-x: 0px;
            }
        }

        @keyframes animateWave2 {
            0%
            {
                background-position-x: 0px;
            }
            100%
            {
                background-position-x: 1000px;
            }
        }
    }
}

#sortableSection{
    section.sortable{
        @include tablet() {
            cursor:grab;
            &:hover{
                background-image: radial-gradient( circle 592px at 48.2% 50%,  rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% );
                h2:not(.projectTitle),.has-text-black:not(.projectText){
                    color: #fff !important;
                }
                .dividerContainer{
                    background-color: transparent !important;
                    .divider:after{
                        border-color: #fff;
                    }
                }

            }
        }
    }
}
