footer{
    margin-top: -6rem;
    background-color: #3586ff !important;
    position: relative;
    //background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
    .iconCreator{
        position: absolute;
        bottom: 1rem;
        left:1rem;
    }
}