section#form{
    @include tablet() {
        padding: 15rem 1.5rem;
    }
    padding: 13rem 1.5rem 10rem;
    h1,label{
        color:white;
        font-weight: 700;
    }
    .collectionsContainer{
        .contentSection{
            border:2px #fff solid;
            padding:.7rem; margin:.75rem;
        }
    }
}