.toTopContainer{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    .to-top{
        &:before{
            content: '▲';
            font-size: 1.9em;
            border: solid 0.13em #dbdbdb;
            color:$grey-lighter;
            border-radius: 10em;
            width: 1.5em;
            height: 1.5em;
            transition: transform .5s ease-in;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 5px;
        }
        &:hover{
            &:before{
                color:$black;
                border-color: $black;
                transform: rotate(360deg);
            }
        }

    }
}


.dividerContainer{
    background-color:#fff;
    position: relative;
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
    .divider{
        height: 8rem;
        &:after{
            content: "";
            position: absolute;
            //z-index: -1;
            top: 50%;
            bottom: 0;
            left: 50%;
            border-left: 2px solid $grey-lighter;
            transform: translate(-50%,-50%);
        }
    }
}

.box{
    .columns{
        .column{
            &.hasImage{
                img{
                    object-fit: cover;
                }
            }
        }
    }
}

.arrow-down{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 4rem;
    span{
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid $white-bis;
        border-right: 5px solid $white-bis;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
        &:nth-child(2){
            animation-delay: -0.2s;
        }
        &:nth-child(3){
            animation-delay: -0.4s;
        }
    }
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.flip {
    background-color: transparent;
    height: 20rem;
    perspective: 1000px;
    &.is-active{
        .flip-inner {
            transform: rotateY(180deg);
        }
    }
    &:hover{
        .flip-inner {
            transform: rotateY(180deg);
        }
        .fa-book-open{
            animation: bounce 2s infinite;
            @keyframes bounce {
                0%,
                25%,
                50%,
                75%,
                100% {
                    transform: translateY(0);
                }
                40% {
                    transform: translateY(-20px);
                }
                60% {
                    transform: translateY(-12px);
                }
            }
        }
    }
    .flip-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .flip-front, .flip-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    .flip-front {
        background-color: #bbb;
        color: black;
    }
    .flip-back {
        padding:0 !important;
        transform: rotateY(180deg);
        .fa-book-open{
            font-size: 3rem;
            right: 1rem;
            top: 1rem;
            position: absolute;
            cursor: pointer;
            color:$grey-light;
            -webkit-transition: color 0.5s ease-out;
            -moz-transition: color 0.5s ease-out;
            -o-transition: color 0.5s ease-out;
            transition: color 0.5s ease-out;
            &:hover{
                color:$blue;
            }
        }
    }
}
.modal{
    z-index: 1001;
    .modal-card{
        width: fit-content;
        max-width: 1000px;
        margin: 0 20px;
    }
    .modal-card-foot{
        a{
            color: white;
            display: flex;
            align-items: center;
            font-size: 1rem;
            transition: all .3s ease-in-out;

            &:not(:last-of-type) {
                margin-right: 2rem;
            }
            i{
                margin-left:.5rem;
                font-size: 2rem;
            }
            &:hover{
                box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.15);
                transform: translate3d(0px, -10px, 0px);
            }
        }
    }
}

.arrow-next {
    cursor: pointer;
    height: 100%;
    position: absolute;
    transition: transform .1s;
    width: 30px;
    &:not(.prev) {
        right: 10%;
    }
    bottom: 0;
    $transition-time: .15s;
    &.prev{
        &:active{
            transform: rotate(180deg) scale(0.9);
        }
        transform: rotate(180deg);
        left: 10%;
    }
    &-top,
    &-bottom {
        background-color: $grey-light;
        height: 4px;
        left: -5px;
        position: absolute;
        top: 50%;
        width: 100%;

        &:after {
            background-color: #fff;
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            transition: all $transition-time;
        }
    }

    &-top {
        transform: rotate(45deg);
        transform-origin: bottom right;

        &:after {
            left: 100%;
            right: 0;
            transition-delay: 0s;
        }
    }

    &-bottom {
        transform: rotate(-45deg);
        transform-origin: top right;

        &:after {
            left: 0;
            right: 100%;
            transition-delay: $transition-time;
        }
    }

    &:hover & {
        &-top:after {
            left: 0;
            transition-delay: $transition-time;
        }

        &-bottom:after {
            right: 0;
            transition-delay: 0s;
        }
    }
    &:active {
        transform: scale(0.9);
    }
}

.progress::-webkit-progress-value {
    transition: width 0.9s ease;
}


.accordions{
    background-color: #fff;
    border-radius: 0;
    .accordion{
        border-radius: 0;
        background-color: #fff;
        &.is-active{
            .accordion-header{
                .gg-chevron-down{
                    &:after{
                        transform: rotate(
                                        225deg)!important;

                        transition: transform .3s linear;
                    }
                }
            }
            .accordion-body{
                color:#000;
                display: block;
                animation: growDown 300ms ease-in-out forwards;
                transform-origin: top center;
                @keyframes growDown {
                    0% {
                        transform: scaleY(0)
                    }
                    80% {
                        transform: scaleY(1.1)
                    }
                    100% {
                        transform: scaleY(1)
                    }
                }
            }
        }
        .accordion-header{
            color:#000;
            text-transform: uppercase;
            .gg-chevron-down{
                background-color: transparent!important;
                border: 2px solid transparent!important;
                border-radius: 100px!important;
                box-sizing: border-box!important;
                color: #000!important;
                display: block!important;
                height: 100%!important;
                max-height: 40px!important;
                max-width: 40px!important;
                position: relative!important;
                position: absolute!important;
                right: 0;
                bottom: 0.75rem;
                transform: scale(var(--ggs,1))!important;
                width: 100%!important;
                &:after{
                    border-bottom: 1px solid!important;
                    border-right: 1px solid!important;
                    box-sizing: border-box!important;
                    content: ""!important;
                    display: block!important;
                    height: 20px!important;
                    left: 4px!important;
                    position: absolute!important;
                    top: 2px!important;
                    transform: rotate(
                                    45deg)!important;
                    width: 20px!important;
                }
            }

        }
        .accordion-body{
            display: none;
        }
    }
}


a.button{
    border: unset;
    box-shadow: 4px 4px 0 0 #3e3e3e;
    font-size: 1.333rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: normal;
    padding: .5rem .7rem;
    text-align: center;
    width: fit-content;

    &:hover{
        box-shadow: 8px 8px 0 0 #3e3e3e;
    }
    &.big{
        min-height: 5.167rem;
    }
    &.red{
        background-color: #e63462;
        color: #fff;
    }

}


.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: 1.25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.has-swiper {
    width: 100%;
    $themeColor: #ffffff;
    $colors: ("white": #ffffff, "black": #000000);
    --swiper-theme-color: #333;
    --swiper-pagination-color: #fff;
    --swiper-navigation-size: 1.5rem;
    @import "~swiper/css";
    @import "~swiper/css/lazy";
    @import "~swiper/css/navigation";
    @import "~swiper/css/pagination";
    @import "~swiper/css/scrollbar";
    @import "~swiper/css/a11y";
    @import "~swiper/css/thumbs";

    position: relative;
    z-index: 0;
    .swiper {
        height: 100%;
        .swiper-slide {
            width: 100%;
            position: relative;
            picture{
                img{
                    max-height: 400px!important;
                    object-fit: contain!important;
                    background-color: transparent;
                }
            }
        }
    }
    .swiper-pagination {
       //color: #fff;
        width: 100%;
        //position: static;
        margin-top: .5rem;
        > span { padding: .5rem; margin: .25rem; opacity: 1; border: 2px solid #000; }
    }
    .swiper-button-next, .swiper-button-prev {
        background-color: #fff;
        padding: var(--swiper-navigation-size);
        top: calc(50% - var(--swiper-navigation-size));
        border-radius: var(--swiper-navigation-size);
    }
    @media only screen and (min-width: 80rem) {
        .swiper-button-next, .swiper-button-prev { display: flex; }
    }
}

.attachmentContainer{
    position: relative;
    cursor: grab;
    i{
        position: absolute;
        right: 0.5rem;
        top:0.5rem;
        color: #D64C7FFF;
        cursor: pointer;
        &:hover ~ .attachmentContainer {
            transform: scale(2);
            .overlay{
                display: flex !important;
            }
        }
    }
}

.confirmation{
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
//For delete items
.overlay{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    cursor: pointer;
    i{
        color: white;
        font-size: 3rem;
    }
}

.notification{
    color:#fff;
    font-weight: bold;
    font-size:1.3rem;
    padding:0.5rem 1rem !important;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(128,248,174,1) 0%, rgba(223,244,148,1) 90% );
    &.fade-out{
        animation: fade 1s steps(90) forwards;
        -webkit-animation: fade 1s steps(90) forwards;
        -moz-animation: fade 1s steps(90) forwards;
    }
    @keyframes fade {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.0;
        }
    }
}
