@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// overrides
$family-serif: "Quicksand", serif;
$family-serif: 'Rubik', sans-serif;
$family-primary: $family-serif;
$grey-dark:#5d5a5a;
$body-background-color: #efefef;
$navbar-breakpoint: 0px;
@import "../../node_modules/bulma/bulma";

// import bulma-extension scss
@import "../../node_modules/bulma-accordion/src/sass/index";

// import font-awesome
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

// import bulma-switch
@import '../../node_modules/bulma-switch/src/sass/index';


//import swiper
//@import '~swiper/swiper-bundle.css';


// import style templates
@import "01-index";
@import "02-navigation";
@import "03-header";
@import "04-footer";
@import "05-hobby";
@import "06-project";
@import "07-about";
@import "08-login";
@import "09-form";
@import "10-components";
@import "11-contact";

