@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// overrides
$family-serif: "Quicksand", serif;
$family-primary: $family-serif;
$grey-dark:#5d5a5a;
$body-background-color: #efefef;

@import "../../node_modules/bulma/bulma";

// import bulma-extension styles
@import "../../node_modules/bulma-accordion/src/sass/index";

// import font-awesome
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

//import swiper
//@import '~swiper/swiper-bundle.css';


// import style templates
@import "01-index";
@import "02-header";
@import "03-team";
@import "04-event";
@import "05-hobby";
@import "10-components";

