<section id="about"  class="animation section {% if sortable is defined %} {{ sortable }} " data-id="{{ id }}" data-sorting="{{ sorting }}"{% else %}"{% endif %}>
    <div class="inner-container">
        <div class="content has-text-centered m-auto">
            <h2 class="has-text-black">About Me</h2>
            <p class="has-text-black">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. .
            </p>
            <img src="uploads/hobby/6db17a6c5de7e23c885884f263308843" alt="" style="object-fit: cover" loading="lazy">
        </div>
    </div>
</section>