<section class="section" id="about">
    <h2 class="">About Me</h2>
    <div class="box">
        <div class="columns is-justify-content-space-between is-desktop">
            <div class="column is-4 hasImage">
                <img src="{{ url('homepage') }}assets/img/me.png" alt="Martin Bissiger">
            </div>
            <div class="column is-6">
                <h3>Martin Bissiger</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</section>