{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}
{% block body %}
    {% include 'chunks/_header.html.twig' %}
    {% block lightbox %}
        <div class="modal" id="readme-modal">
            <div class="modal-background"></div>
            <div class=" modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Dokumentation</p>
                    <button class="delete" aria-label="close" onclick="window.closeModal(this)"></button>
                </header>
                <section class="content modal-card-body">
                    {{ readme|markdown_to_html }}
                </section>
            </div>
        </div>
    {% endblock %}
<main class="has-background-white" style="margin-bottom:6rem;" {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}id="sortableSection"{% endif %}>
    {# Load sections #}
    {% for section in sections %}
        {% include 'section.html.twig' with {'section':section} %}
    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="addSection" class="button centered mt-6 mb-6 is-info">Section hinzufügen</a>
    {% endif %}
    {%  include 'chunks/divider.html.twig' %}
</main>


{% endblock %}