{% extends "base.html.twig" %}

{% block title %}Homepage{% endblock %}
{% block body %}
    {% include 'chunks/_header.html.twig' %}
    {% include 'chunks/modal.html.twig' %}
<main class="has-background-white" style="margin-bottom:6rem;" {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}id="sortableSection"{% endif %}>

    {# Load sections #}
    {% for section in sections %}
        {% include 'section.html.twig' with {'section':section} %}
    {% endfor %}
    {# end loading sections #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="addSection" class="button centered mt-6 mb-6 is-info">Section hinzufügen</a>
    {% endif %}
    {%  include 'chunks/divider.html.twig' %}
</main>


{% endblock %}