<div class="waveContainer has-background-white">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
</div>
<footer class="footer">


    <div class="toTopContainer is-hidden">
        <a href="#nav" onclick="window.scrollTo(0,0)" class="to-top"></a>
    </div>

</footer>
