<section class="section" id="contact">
    <h2>Contact</h2>
    <div class="columns">
        <div class="column">
            <div class="left">

            </div>
        </div>
        <div class="column right">
            <form action="">
                <div class="field">
                    <label class="label" for="name"></label>
                    <div class="control">
                        <input class="input" type="text" id="name">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="email"></label>
                    <div class="control">
                        <input class="input" type="email" id="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="text"></label>
                    <div class="control">
                        <textarea class="textarea" id="text"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>