{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="notification is-{{ type }} fade-out">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
