<nav class="navbar" id="nav">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Martin Bissiger
        </a>

      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a onclick="scrollToEl(0)" class="navbar-item">
            Home
          </a>
            <a href="#about" class="navbar-item">
                About
            </a>
            <a href="#hobbies" class="navbar-item">
                Hobbies
            </a>
          <a href="#work" class="navbar-item">
            Work
          </a>
            <a href="#work" class="navbar-item">
            Contact
          </a>

        </div>
      </div>
    </div>
  </div>
</nav>
