{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <div class="container">
        <section class="section pt-6 pb-6" id="form">
            <div class="inner-container">
            <h1 class="has-text-white">Sie haben als normaler Benutzer kein Zugriff auf den Inhalt.</h1>
            <div class="content">
                    <p class="has-text-white">Hier geht es zurück <a class="has-text-white" href="{{ path('homepage') }}">zur Homepage</a>.</p>
                </p>
            </div>
        </section>
    </div>
{% endblock %}
